.Project {
  border: 1px solid #aaa;
  margin-top: 10px;
}
.Project .Section {
  padding: 10px;
}

.Project .new-item {
  background-color: blue;
}

.Project .heading-1 {
  color: red;
  font-size: 40px;
  margin-top: 0;
}
