@import url("https://fonts.googleapis.com/css?family=Inter:regular,bold,italic&subset=latin,latin-ext");

body {
  padding: 0;
  margin: 0;
  font-family: Inter;
}

h1,
h2,
h3 {
  letter-spacing: -0.03em;
}

p {
  letter-spacing: -0.15em;
}

button {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  outline: none;
  border: 0;
}


.App {
  font-family: sans-serif;
  text-align: center;
}

.Button {
  background: #7122ee;
  display: inline-block;
  padding: 20px 40px;
  color: #fff;
}

.addTodoItemForm {
  display: flex;
  margin-bottom: 16px;
}
.addTodoItemInput {
  padding: 0 12px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  margin-right: 10px;
}

.addTodoItemInput:hover {
  border: 1px solid #999;
}

.addTodoItemButton {
  padding: 10px 20px;
  background-color: blue;
  color: #fff;
  margin-left: 12px;
  cursor: pointer;
  border-radius: 4px;
}

.todoListItem {
  position: relative;
  padding: 10px 15px;
  background-color: #eee;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.todoListItem:hover {
  background-color: #ddd;
}

.todoListItem.itemDone {
  background: #ccc;
}

.todoListItem.itemDone:hover {
  background: #bbb;
}

.deleteButton {
  cursor: pointer;
  position: absolute;
  right: -6px;
  margin-top: 1px;
  font-size: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 2px 5px 5px;
  color: #d3d3d3;
}

.stylesDeleteButton {
    font-size: 10px;
    position: relative;
    bottom: 3px;
    margin-left: 6px;
    color: #5f5f5f;
}

.ButtonStroke {
  border: 1px solid blue;
}

.saveButton {
  height: 32px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-left: 1px solid #d3d3d3;
  font-size: 11px;
  font-weight: 500;
  background: #f5f5f5;
  text-transform: initial;
}

.typeSeparator {
  margin-right: 6px;
  position: relative;
  top: -1px;
  font-size: 10px;
  color: #acacac;
}

.saveButton:hover {
  background-color: #efefef;
}


.Project {
  position: relative;
  border-top: 1px solid #d3d3d3;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  background: #8e8e8e;
}


.Project p {
  letter-spacing: -0.05em;
}

.Project .Element:hover {
  outline: 1px solid blue;
}

.projectWrapper {
  display: flex;
  height: calc(100vh - 33px);
}

.navigatorWrapper {
  width: 200px;
  height: calc(100vh - 32px);
  overflow-y: scroll;
  flex-shrink: 0;
  border: 1px solid #d3d3d3;
  border-bottom: 0;
  border-left: 0;
  display: none;
}



.navigatorWrapper.active {
  display: block;
}

.styleWrapper {
  
  padding: 10px;
  width: 240px;
  flex-shrink: 0;
  border: 1px solid #d3d3d3;
  border-bottom: 0;
}

.classElement {
  display: inline-block;
  padding: 10px;
  background: #eee;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.classElement.small {
  padding: 3px;
  font-size:12px;
}

.classElement.active {
  background: #bbb;
}

.panelStyleEditor {
  display: none;
}


.panelStyleEditor.show {
  display: block;
}

.setShowEditorToggle {
  font-size:10px; 
  position: relative; 
  bottom: 1px; 
  cursor: pointer;
  margin-left: 4px;
}

.selectStyleInPanelWrapper {
  margin-bottom: 24px;
}

.rstcustom__rowWrapper {
  cursor: default;
}

.navigatorElement {
font-size: 12px;
}

.navigatorElement.hovered {
  background: #f0f0f0;
}

.navigatorElement.active {
  background: #dadada;
}

.panelStyleEditorWrapper {
  opacity: .3;
}

.panelStyleEditorWrapper.active {
  opacity:1;
}

.renderedNode {
  outline-offset: -1px;
}

.renderedNode.hovered {
  outline: 1px solid #8181e1;
}

.renderedNode.active {
  outline: 1px solid blue;
}

:focus-visible {
  outline: 0;
}

.rstcustom__rowWrapper:hover {
  opacity: 1;
}

.rstcustom__collapseButton::after, .rstcustom__expandButton::after {
  content: '';
  position: absolute;
  -webkit-transform-origin: 7px 4px;
  -ms-transform-origin: 7px 4px;
  transform-origin: 3px 1px;
  -webkit-transform: translate3d(-50%, -35%, 0);
  transform: translate3d(-50%, -35%, 0);
  border: solid transparent 4px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-top-color: #b3b3b3;
}

.rstcustom__expandButton::after {
  -webkit-transform: translate3d(-50%, -35%, 0px) rotateZ(-90deg);
  transform: translate3d(-50%, -35%, 0px) rotateZ(-90deg);
}

.rstcustom__collapseButton:focus::after, .rstcustom__expandButton:focus::after {
  -webkit-filter: none;
  filter: none;
}

.rstcustom__lineBlock {
  /* width: 16px !important; */
}

.addNodeWrapper {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.addNodeButton {
    transition: background-color .2s;
    display: flex;
    font-size: 11px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    line-height: 32px;
    /* background-color: #f5f5f5; */
    border-right: 1px solid #d3d3d3;
    justify-content: center;
    text-decoration: none;
}

.addNodeButton:hover {
  background-color: #eee;
}

.addNodeButton.left-margin {
  margin-left: 24px;
  border-left: 1px solid #d3d3d3;
}

.addNodeButton.active {
  background-color: #e8e8e8;
}

.displayButtonsWrapper {
  display: flex;
  border-left: 1px solid #d3d3d3;
  margin-bottom: 12px;
}

.displayButton {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #d3d3d3;
  border-left: 0;
  cursor:pointer;
  transition: background .2s;
}

.displayButton:hover {
  background: #eee;
}

.displayButton.active {
  background: #ddd;
}

.SpacingInput {
  cursor: n-resize;
}

.loginSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.accountBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-row-gap: 24px;
}

.projectSidebar {
  width: 32px;
  flex-shrink: 0;
  border-right: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
}

.projectSidebarButton {
  height: 32px;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  cursor: pointer;
  transition: background .2s;
}

.projectSidebarButton.active {
  background-color: #eee;
}

.projectSidebarButton:hover {
  background-color: #eee;
}

.projectPagesPanel {
  width: 200px;
  flex-shrink: 0;
  border-right: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  display: none;
}

.projectPagesPanel.active {
  display: block;
}

.projectCollectionsPanel  {
  width: 200px;
  flex-shrink: 0;
  border-right: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  display: none;
}

.projectCollectionsPanel.active {
  display: block;
}

.projectTabTitleBox {
  padding: 5px 16px;
  font-weight: 600;
  font-size: 12px;
  border-bottom: 1px solid #d3d3d3;
}

.pagesList {
  border-top: 1px solid #d3d3d3;
}

.projectPageItem {
  cursor: pointer;
  padding: 2px 16px 3px;
  font-size: 12px;
  background: #fff;
  border-bottom: 1px solid #d3d3d3;
  transition: background-color .2s;
}

.projectPageItem:hover {
  background: #f7f7f7;
}

.projectPageItem.active {
  background: #ededed;
}

.projectRightSidebarNav {
  transition: background-color .2s;
    display: flex;
    font-size: 11px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    line-height: 32px;
    /* background-color: #f5f5f5; */
    border-left: 1px solid #d3d3d3;
    justify-content: center;
    text-decoration: none;
}

.projectNavigationLeft {
  display: flex;
}

.projectNavigationRight {
  display: flex;
}

.projectSettingsPanel {
  width: 270px;
  border-left: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  flex-shrink: 0;
  display: none;
}

.projectSettingsPanel.active {
  display: block;
}

.style-panel {
  display: none;
}

.style-panel.active {
  display: block;
}

.libraryImageGrid {
  display: flex;
  flex-wrap: wrap;
}

.libraryImage {
  width: 100px;
  height: 100px;
}

.navigation-node {
  cursor: default;
  padding: 3px 0;
  
}

.navigation-node-inside {
  padding-left: 8px;
  font-size: 11px;
}

.navigation-node-inside span {
  color: #999;
  margin-right: 5px;
}

.navigation-node-inside.lined {
  border-left: 1px solid #ccc;
}

.plusButton {
  padding: 0px 6px 2px;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  cursor: pointer;
}

.navigation-node.hovered {
  background: #eee;
}

.navigation-node.active {
  background: #ddd;
}



.navigation-node-folder {
}

.display-grid-column {
  padding: 1px 8px;
  font-size: 11px;
  margin-bottom: 2px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
}

.style-title-box.top {
  align-self: flex-start;
  margin-top: 5px;
}

.display-grid-column-delete {
  cursor: pointer;
}

.centerNavbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  border-left: 1px solid #d3d3d3;
}

.project-rendered-design {
  overflow-x: hidden;
  background: #fff;
  width: 100%;
  height: calc(100% - 24px);
}

.project-rendered-design.state-2 {
  width:990px;
}

.project-rendered-design.state-3 {
  width:500px;
}

.project-rendered-design.state-4 {
  width:370px;
}

.parents-path {
  display: flex;
  height: 24px;
  width: 100%;
  border-top: solid 1px #d3d3d3;
  position: absolute;
  bottom: 0;
  background: #fff;
}

.parents-path-item {
  font-size: 11px;
  border-right: solid 1px #d3d3d3;
  padding: 0 20px;
  display: flex;
  align-items: center;
  cursor:pointer;
  transition: background-color .2s;
}

.parents-path-item:nth-last-child(1) {
  background: #f0f0f0;
}

.parents-path-item:hover {
  background: #f0f0f0;
}

.style-edit-input {
  position: relative;
  display: flex;
  width: 100%;
  height: 28px;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
  background-color: #f5f5f5;
  font-size: 11px;
}

.style-edit-input.simple {
  border: none;
  height: 18px;
  width: 36px;
}

.style-edit-input.simple.active {
  color: #544cca;
}

.style-edit-value {
  padding-left: 8px;
  width: 100%;
  display: flex;
  align-items: center;
}

.style-edit-unit {
  width: 17.5px;
  padding: 0 3px;
  text-transform: uppercase;
  font-size: 9px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  transition: background-color .2s;
  justify-content: center;
}

.style-edit-unit:hover {
  background: #eee;
}

.style-edit-input-text {
  background: transparent;
  border: none;
  max-width: 24px;
}

.style-edit-input-text.color-input {
  max-width: 100%;
}

.style-edit-text {
  font-size: 11px;
}

.style-edit-text.active {
  display: none;
}

.style-edit-input-text.active {
  display: none;
}

.style-edit-input-text {
  font-family: 'Inter';
  font-size: 11px;
  color: #333;
  padding: 0;
}

.style-title-box .text {
  padding: 1px 2px;
  position: relative;
  left: -2px;
  top: -1px;
  display: inline-block;
}

.style-title-box.active .text {
  color: #544cca;
  background: #f3f3f9;
  border-radius: 4px;
}

.style-edit-unit-list {
  display: none;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
  width: 40px;
  background-color: #f5f5f5;
  z-index: 1;
  right: -1px;
  top: -1px;
}

.style-edit-unit-list.active {
  display: block;
}

.style-edit-unit-item {
  height: 20px;
  display: flex;
  padding: 2px 7px;
  cursor: default;
  text-transform: uppercase;
  font-size: 9px;
  color: #111;
}

.style-edit-unit-item:hover{
  background: #ececec;
}

.style-edit-unit-item.active {
  background: #dfdfdf;
}

.style-panel-select {
    background: #0000;
    border: none;
    margin-right: 8px;
}

.input.color-picker {
  display: flex;
  position: relative;
  padding: 0;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.color-picker_color-box {
  width: 28px;
  height:100%;
  background: #333;
  margin-right: 8px;
  border-right: 1px solid #d3d3d3;
}

.swatches-box {
  display: none;
  top: -6px;
  left: -4px;
  transform: translateY(-100%); 
  position: absolute;
  width: 175px;
  min-height: 50px;
  border: 1px solid #d3d3d3;
  background-color: #f5f5f5;
  padding: 8px;
  font-size: 11px;
  color: #333;
  flex-direction: column;
  grid-row-gap: 6px;
}

.swatches-box.active {
  display: flex;
}

.swatches-list {
  display: flex;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-wrap: wrap;
}


.swatches-item {
  width: 24px;
  height: 24px;
  background: #333;
  border: 2px solid #f5f5f5;
  outline: 1px solid #f5f5f5;
}

.swatches-item.active {
  border: 2px solid #fff;
  outline: 1px solid #737373;
}

.new-swatch {
  width: 24px;
  height: 24px;
  border: 2px solid #f5f5f5;
  background: #d4d4d4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #676767;
  font-weight: 900;
}

.input.change-swatch-input {
  width: 164px;
  height: 24px;
  border-color: #cdcdcd;
  background-color: #efefef;
  font-size: 11px;
  color: #333;
}

.swatch-save-button {
  width: 46px;
  height: 26px;
  border: 1px solid #c0c0c0;
  background: #d9d9d9;
  font-size: 11px;
  text-transform: capitalize;
  font-weight: 300;
  cursor: pointer;
}

.add-section_box {
  display: none;
  height: 0;
  width: 100%;
  transform: translateY(-50%);
  justify-content: center;
}

.add-section_box.active {
  display: flex;
}

.add-section_button {
    position: relative;
    top: -17px;
    height: 21px;
    padding: 6px 12px;
    color: #fff;
    background: #534cca;
    border-radius: 4px;
    font-size: 11px;
    cursor: pointer;
    transition: background-color .2s;
}

.add-section_popup-box {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #12121259;
  position: fixed;
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-section_popup-box.active {
  display: flex;
}

.add-section_popup_close-area {
  position:absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

.add-section_popup-list {
  max-width: 600px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  background: #fff;
  padding: 32px; 
  position: relative;
  z-index: 1;
}

.add-section_button:hover {
  background: #6761cd;
}

.sections-nav-folder-item {
  font-size: 11px;
  padding: 2px 16px 3px;
  font-size: 12px;
  background: #f2f2f2;
  border-bottom: 1px solid #d3d3d3;
  font-weight: 600;
  cursor: pointer
}

.text-h2 {
  font-size: 16px;
}

.sections-nav-folder-item.active {
  background: #e1e1e1;
}

.projectPageItem {
  position: relative;
}

.delete-section-item {
  position: absolute;
    right: 8px;
    padding: 0 4px;
    top: 0;
    height: 25px;
    line-height: 25px;
    align-content: center;
    transition: .2s;
    font-size: 11px;
}

.delete-section-item:hover {
  opacity: .5;
}