@import url("https://fonts.googleapis.com/css?family=Inter:regular,bold,italic&subset=latin,latin-ext");

body {
  padding: 0;
  margin: 0;
  font-family: Inter;
}

h1,
h2,
h3 {
  letter-spacing: -0.03em;
}

p {
  letter-spacing: -0.15em;
}

button {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  outline: none;
  border: 0;
}


.App {
  font-family: sans-serif;
  text-align: center;
}

.Button {
  background: #7122ee;
  display: inline-block;
  padding: 20px 40px;
  color: #fff;
}

.addTodoItemForm {
  display: flex;
  margin-bottom: 16px;
}
.addTodoItemInput {
  padding: 0 12px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  margin-right: 10px;
}

.addTodoItemInput:hover {
  border: 1px solid #999;
}

.addTodoItemButton {
  padding: 10px 20px;
  background-color: blue;
  color: #fff;
  margin-left: 12px;
  cursor: pointer;
  border-radius: 4px;
}

.todoListItem {
  position: relative;
  padding: 10px 15px;
  background-color: #eee;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.todoListItem:hover {
  background-color: #ddd;
}

.todoListItem.itemDone {
  background: #ccc;
}

.todoListItem.itemDone:hover {
  background: #bbb;
}

.deleteButton {
  cursor: pointer;
  position: absolute;
  right: -6px;
  margin-top: 1px;
  font-size: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 2px 5px 5px;
  color: #d3d3d3;
}

.stylesDeleteButton {
    font-size: 10px;
    position: relative;
    bottom: 3px;
    margin-left: 6px;
    color: #5f5f5f;
}

.ButtonStroke {
  border: 1px solid blue;
}

.saveButton {
  position: fixed;
  right: 0px;
  top: 0px;
  height: 32px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-left: 1px solid #d3d3d3;
  font-size: 11px;
  font-weight: 500;
  background: #f5f5f5;
  text-transform: initial;
}

.typeSeparator {
  margin-right: 6px;
  position: relative;
  top: -1px;
  font-size: 10px;
  color: #acacac;
}

.saveButton:hover {
  background-color: #efefef;
}


.Project {
  position: relative;
  border-top: 1px solid #d3d3d3;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}


.Project p {
  letter-spacing: -0.05em;
}

.Project .Element:hover {
  outline: 1px solid blue;
}

.projectWrapper {
  display: flex;
  height: calc(100vh - 33px);
}

.navigatorWrapper {
  padding-top: 10px;
  padding-left: 10px;
  width: 170px;
  flex-shrink: 0;
  border: 1px solid #d3d3d3;
  border-bottom: 0;
}

.styleWrapper {
  padding: 10px;
  width: 240px;
  flex-shrink: 0;
  border: 1px solid #d3d3d3;
  border-bottom: 0;
}

.classElement {
  display: inline-block;
  padding: 10px;
  background: #eee;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.classElement.small {
  padding: 3px;
  font-size:12px;
}

.classElement.active {
  background: #bbb;
}

.panelStyleEditor {
  display: none;
}


.panelStyleEditor.show {
  display: block;
}

.setShowEditorToggle {
  font-size:10px; 
  position: relative; 
  bottom: 1px; 
  cursor: pointer;
  margin-left: 4px;
}

.selectStyleInPanelWrapper {
  margin-bottom: 24px;
}

.rstcustom__rowWrapper {
  cursor: default;
}

.navigatorElement {
font-size: 12px;
}

.navigatorElement.hovered {
  background: #f0f0f0;
}

.navigatorElement.active {
  background: #dadada;
}

.panelStyleEditorWrapper {
  opacity: .3;
}

.panelStyleEditorWrapper.active {
  opacity:1;
}

.renderedNode {
  outline-offset: -1px;
}

.renderedNode.hovered {
  outline: 1px solid #8181e1;
}

.renderedNode.active {
  outline: 1px solid blue;
}



:focus-visible {
  outline: 0;
}

.rstcustom__rowWrapper:hover {
  opacity: 1;
}

.rstcustom__collapseButton::after, .rstcustom__expandButton::after {
  content: '';
  position: absolute;
  -webkit-transform-origin: 7px 4px;
  -ms-transform-origin: 7px 4px;
  transform-origin: 3px 1px;
  -webkit-transform: translate3d(-50%, -75%, 0);
  transform: translate3d(-50%, -75%, 0);
  border: solid transparent 4px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-top-color: #b3b3b3;
}

.rstcustom__expandButton::after {
  -webkit-transform: translate3d(-50%, -75%, 0px) rotateZ(-90deg);
  transform: translate3d(-50%, -75%, 0px) rotateZ(-90deg);
}

.rstcustom__collapseButton:focus::after, .rstcustom__expandButton:focus::after {
  -webkit-filter: none;
  filter: none;
}

.rstcustom__lineBlock {
  /* width: 16px !important; */
}

.addNodeWrapper {
  display: flex;
}

.addNodeButton {
    transition: background-color .2s;
    display: flex;
    font-size: 11px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    line-height: 32px;
    /* background-color: #f5f5f5; */
    border-right: 1px solid #d3d3d3;
    justify-content: center;
}

.addNodeButton:hover {
  background-color: #eee;
}

.displayButtonsWrapper {
  display: flex;
  border-left: 1px solid #d3d3d3;
  margin-bottom: 12px;
}

.displayButton {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #d3d3d3;
  border-left: 0;
  cursor:pointer;
  transition: background .2s;
}

.displayButton:hover {
  background: #eee;
}

.displayButton.active {
  background: #ddd;
}

.SpacingInput {
  cursor: n-resize;
}
